@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono';
  background: lightblue;
  text-align: center;
}

#answer {
  border-radius: 10px 10px 10px 10px;
  border: 3px solid black;
}

input[type="submit"] {
  border-radius: 10px 10px 10px 10px;
  border: 3px solid black;
  cursor: pointer;
}

#status {
  font-size: 25px;
}